.synopsis {
    color: #7E8184;        /* Light gray */
    font-style: italic;
}

/* More useful divs */
/* .button {
    color: #FFF;
    background-color: #5995DA;    Blue
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;    Dark gray
    border-radius: 5px;
    
    width: 200px;
    margin: 20px auto;
} */

/* Button styles */

.button:link,                 
.button:visited {             
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */

  color: #FFF;                /* The rest is the same */
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}

.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}

/* Container divs */
.page {
    width: 600px;
    margin: 0 auto;
}

/* Css specificity */
#button-2 {
    background-color: #D55C5F;    /* Red */
}

/* Modifying class styles*/
.call-to-action:link,
.call-to-action:visited {
    font-style: italic;
    background-color: #EEB75A;
    /* background-color: #D55C5F; */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;     /* Yellow */
}

/* Descendant selector */
.synopsis em {
    font-style: normal;
}

/* Basic link styles */
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: purple;
}
a:hover {
    color: aqua;
    text-decoration: underline;
}
a:active {
    color: red;
}

/* Visited hover state */
a:visited:hover {
    color: orange;
}

/* Visited active state */
a:visited:active {
    color: red;
}

/* Pseudo-classes for structure */
p:last-of-type {
    margin-bottom: 50px;
}

/* Caveat  */
/* .page > p:first-of-type {
    color: #7E8184;
    font-style: italic;
} */

/* Id selectors */
#button-2 {
    color: #5D6063;  /* Dark gray */
}