* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;  /* Blue */
  padding: 20px 0;
  /* Flex containers */
  display: flex;
  /* Aligning a flex item */
  justify-content: center;
}

.menu {
  border: 1px solid #fff;  /* For debugging */
  width: 900px;
  /* distributing multiple flex items */
  display: flex;
  justify-content: space-between;
}

/* grouping flex items */
.links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
}
  
.login {
    margin-left: 20px;
}

/* cross-axis (vertical) alignment */
.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}
  
.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    align-items: center;
}
/* 
.social,
.logo,
.subscribe {
  border: 1px solid #5995DA;
} */

/* wrapping flex items */
.photo-grid-container {
    display: flex;
    justify-content: center;
}
  
.photo-grid {
    width: 900px;
    display: flex;
    /* displaced alignment */
    justify-content: center;
    /* Warping */
    flex-wrap: wrap;
    /* Flex container direction */
    /* flex-direction: column; */
    /* Flex container order */
    /* flex-direction: row-reverse; */

    /* Flex item order */
    flex-direction: row;
    align-items: center;
}
  
.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}
/* Flex item order */
.first-item {
    order: 1;
}
  
.last-item {
    order: -1;
}

/* Flex item alignment */
.social,
.subscribe {
    align-self: flex-end;
    margin-bottom: 20px;
}

/* Flexible items */
.footer {
    display: flex;
    justify-content: space-between;
}
  
.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-three {
    flex: 2;
}

/* Static item widths */
.footer-one,
.footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
}

/* flex items and auto-margins */
.signup {
    margin-left: auto;
}